.agreement {
  position: relative;
  z-index: 2;
  border-radius: 0 0 30px 30px;
  background: #FFF;
  box-shadow: 3px -1px 50px 0px rgba(0, 0, 0, 0.15);
  padding: 112px 0 78px;

  @media ($tablet3) {
    padding: 40px 0 70px;
  }

  .container {
    max-width: 1250px;
  }
}
.agreement__title {
  margin-top: 32px;
  text-align: center;
  color: #15212F;
  font-size: 4rem;
  font-weight: 450;
  line-height: 1.15;

  @media ($tablet3) {
    font-size: 3rem;
    margin-top: 10px;
  }
}
.agreement__subtitle {
  margin-top: 32px;
  text-align: center;
  color: #191404;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;

  @media ($tablet3) {
    font-size: 1.6rem;
    margin-top: 20px;
  }
}
.agreement__blocks {
  margin-top: 80px;

  @media ($tablet3) {
    margin-top: 50px;
  }

  div {
    margin-top: 60px;

    @media ($tablet3) {
      margin-top: 40px;
    }

    &:first-child {
      margin-top: 0;
    }
  }
  h4 {
    color: #15212F;
    font-size: 3rem;
    font-weight: 450;
    line-height: 1.16;

    @media ($tablet3) {
      font-size: 2rem;
    }
  }
  & > ul {
    margin-top: 16px;
  }
  ul {
    list-style: none;
    color: #191404;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;

    @media ($tablet3) {
      font-size: 1.6rem;
    }
  }
}
.agreement__date {
  margin-top: 95px;
  color: #191404;
  font-size: 2rem;
  font-weight: 450;
  line-height: 1.5;

  @media ($tablet3) {
    margin-top: 60px;
    font-size: 1.6rem
  }
}