<section class="vacancies_detail">
    <div class="container">
        <div class="vacancies_detail__content">
            <div class="vacancies_detail__body">
                <div class="vacancies_detail__info">
                    <div class="vacancies_detail__info_title">Подробнее о вакансии</div>
                    <div class="vacancies_detail__info_block">
                        <div class="vacancies_detail__info_block_title">Обязанности</div>
                        <ul class="vacancies_detail__info_block_list">
                            <li>Администрирование</li>
                            <li>Увеличение прибыли компании</li>
                            <li>Управление персоналом</li>
                            <li>Проведение встреч и переговоров</li>
                            <li>Помощь сотрудникам в работе, наставничество</li>
                        </ul>
                    </div>
                    <div class="vacancies_detail__info_block">
                        <div class="vacancies_detail__info_block_title">Требования</div>
                        <ul class="vacancies_detail__info_block_list">
                            <li>Высшее образование</li>
                            <li>Опыт работы на руководящих должностях от 3 лет</li>
                            <li>Умение грамотно говорить и писать</li>
                            <li>Знание основ делового документооборота</li>
                            <li>Знание и владение техниками продаж</li>
                        </ul>
                    </div>
                    <div class="vacancies_detail__info_block">
                        <div class="vacancies_detail__info_block_title">Условия</div>
                        <ul class="vacancies_detail__info_block_list">
                            <li>Полная занятость, полный день</li>
                            <li>Требуемый опыт работы: 3–6 лет</li>
                            <li>от 50 000 до 70 000 руб.</li>
                        </ul>
                    </div>
                </div>
                <form action="#" name="vacancies_detail_form" class="vacancies_detail__form js_vacancies_detail_form">
                    <div class="vacancies_detail__form_title">Подайте заявку сейчас</div>
                    <div class="vacancies_detail__form_input_wrapper">
                        <div class="vacancies_detail__form_input_title">ФИО</div>
                        <input type="text" class="vacancies_detail__form_input js_only_rus js_required_input" name="name" placeholder="введите ваше ФИО">
                        <span class="vacancies_detail__form_input_error">Обязательно укажите ваши ФИО</span>
                    </div>
                    <div class="vacancies_detail__form_input_wrapper">
                        <div class="vacancies_detail__form_input_title">Электронная почта</div>
                        <input type="text" class="vacancies_detail__form_input js_only_eng js_required_input" name="email" placeholder="введите ваш e-mail">
                        <span class="vacancies_detail__form_input_error">Обязательно укажите ваш e-mail</span>
                    </div>
                    <div class="vacancies_detail__form_input_wrapper">
                        <div class="vacancies_detail__form_input_title">Телефон</div>
                        <input type="text" class="vacancies_detail__form_input js_tel_mask js_required_input" name="tel" placeholder="введите ваш телефон для связи">
                        <span class="vacancies_detail__form_input_error">Обязательно укажите ваш телефон</span>
                    </div>
                    <div class="vacancies_detail__form_input_wrapper this--textarea">
                        <div class="vacancies_detail__form_input_title">Напишите сообщение</div>
                        <textarea class="vacancies_detail__form_input this--textarea" name="message" placeholder="Введите текст сообщения"></textarea>
                    </div>
                    <div class="vacancies_detail__form_file">
                        <input type="file" id="vacancies_detail_form_file" class="js_vacancies_detail_form_file" name="resume">
                        <label for="vacancies_detail_form_file"><svg width="29" height="20" viewBox="0 0 29 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.3842 19.1925V9.88477M15.3842 9.88477L17.9226 12.0002M15.3842 9.88477L12.8457 12.0002" stroke="#A5A5A5"/>
                            <path d="M20.4615 19.1923H24.0577C26.5111 19.1923 28.5 17.2034 28.5 14.75V14.75C28.5 12.2966 26.5111 10.3077 24.0577 10.3077H23V8.61539C23 4.40953 19.5905 1 15.3846 1H14.5385C10.7999 1 7.76923 4.03069 7.76923 7.76923V7.76923H6.71154C3.55714 7.76923 1 10.3264 1 13.4808V13.4808C1 16.6352 3.55714 19.1923 6.71154 19.1923H10.7308" stroke="#A5A5A5"/>
                        </svg>

                            прикрепите резюме <br>(формат: pdf , макс. размер: 2 Гб)</label>
                        <span class="vacancies_detail__form_file_clear js_vacancies_detail_form_file_clear"></span>
                    </div>
                    <div class="vacancies_detail__form_bottom">
                        <button class="vacancies_detail__form_btn btn_arrow this--top"><span class="btn_arrow__arrow this--hover"></span><span class="btn_arrow__text">Отправить</span><span class="btn_arrow__arrow"></span></button>
                        <div class="vacancies_detail__form_agree">Нажимая кнопку «Отправить», вы соглашаетесь на обработку персональных данных.</div>
                    </div>
                </form>
            </div>
            <div class="vacancies__bottom">
                <div class="vacancies__bottom_left">
                    <div class="vacancies__bottom_img">
                        <img src="img/vacancies/manager.jpg" alt="">
                    </div>
                    <div class="vacancies__bottom_info">
                        <div class="vacancies__bottom_name">Ампилогова<br> Ирина Юрьевна
                        </div>
                        <div class="vacancies__bottom_job_title">Менеджер по персанолу</div>
                    </div>
                </div>
                <div class="vacancies__bottom_right">
                    <div class="vacancies__bottom_text">Хотите узнать больше об вакансии? Тогда свяжитесь с нашим менеджером
                        по персоналу.</div>
                    <div class="vacancies__bottom_contacts">
                        <a href="tel:+79625242483" class="vacancies__bottom_tel">+7-962-524-24-83</a>
                        <a href="mailto:mail@sbitum.ru" class="vacancies__bottom_mail">mail@sbitum.ru</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>