<section class="about_chess">
    <div class="container">
        <div class="about_chess__content">
            <div class="about_chess__left">
                <div class="about_chess__icon">
                    <img src="img/about_chess/icon_1.svg" alt="">
                </div>
                <div class="about_chess__title">Качество выпускаемой продукции</div>
                <div class="about_chess__text">
                    <p>Особое внимание на нашем предприятии уделяется качеству выпускаемой продукции - современное оборудование, передовые технологи, высококвалифицированный персонал и аттестованная лаборатория позволяет занимать лидирующие позиции на рынке нефтяных дорожных битумов Уральского региона.</p>
                </div>
            </div>
            <div class="about_chess__right">
                <div class="about_chess__img">
                    <img src="img/about_chess/img_1.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="about_chess__content this--reverse">
            <div class="about_chess__left">
                <div class="about_chess__icon">
                    <img src="img/about_chess/icon_2.svg" alt="">
                </div>
                <div class="about_chess__title">Лабораторно-аналитический комплекс</div>
                <div class="about_chess__text">
                    <p>Имеющееся оборудование позволяет производить весь необходимый перечень испытаний вяжущего по системе Superpave:</p>
                    <ul>
                        <li>групповой химический состав исходного сырья;</li>
                        <li>динамическую вязкость и сдвиговую устойчивость вяжущего DSR;</li>
                        <li>старение в тонких пленках, состаренного по методу RTFOT;</li>
                        <li>длительное старение под давлением PAV;</li>
                        <li>низкотемпературные свойства битумного вяжущего BBR.</li>
                    </ul>
                    <p>Комплекс включен в единый аккредитованный реестр лабораторий Росавтодора.</p>
                </div>
            </div>
            <div class="about_chess__right">
                <div class="about_chess__img">
                    <img src="img/about_chess/img_2.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="about_chess__content">
            <div class="about_chess__left">
                <div class="about_chess__icon">
                    <img src="img/about_chess/icon_3.svg" alt="">
                </div>
                <div class="about_chess__title">В 2017-2023 годах на заводе произведена модернизация:</div>
                <div class="about_chess__text">
                    <ul>
                        <li>Смонтирована установка итальянской фирмы MARINI, являющейся европейским лидером в сфере разработки оборудования для дорожной отрасли;</li>
                        <li>Произведена полная автоматизация процессов, позволяющая наиболее точно контролировать производственные циклы;</li>
                        <li>Установлены необходимые узлы смешения;</li>
                        <li>Обновлено внутреннее устройство колонного оборудования.</li>
                    </ul>
                </div>
            </div>
            <div class="about_chess__right">
                <div class="about_chess__img">
                    <img src="img/about_chess/img_3.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="about_chess__content this--reverse">
            <div class="about_chess__left">
                <div class="about_chess__icon">
                    <img src="img/about_chess/icon_4.svg" alt="">
                </div>
                <div class="about_chess__title">Ждём вас<br>
                    в нашей команде</div>
                <div class="about_chess__text">
                    <p>На предприятиях группы компаний «БИТУМ» работают несколько сотен профессионалов, уверенных в завтрашнем дне. Предлагаем официальное трудоустройство и полный социальный пакет. </p>
                </div>
                <a href="#" class="about_chess__btn btn_arrow this--top"><span class="btn_arrow__arrow this--hover"></span><span class="btn_arrow__text">Подробнее</span><span class="btn_arrow__arrow"></span></a>
            </div>
            <div class="about_chess__right">
                <div class="about_chess__img">
                    <img src="img/about_chess/img_4.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>