<section class="main_news">
    <div class="container">
        <div class="main_news__content">
            <div class="main_news__top">
                <div class="main_news__group">
                    <h2 class="main_news__title h2_title">Новости</h2>
                    <div class="main_news__links_wr">
                        <div class="main_news__links">
                            <a href="#" class="main_news__link active">Все</a>
                            <a href="#" class="main_news__link this--sbm">«СБМ»</a>
                            <a href="#" class="main_news__link this--bitum">«Битум»</a>
                            <a href="#" class="main_news__link this--salavat">«Cалаватметалл»</a>
                        </div>
                    </div>
                </div>
                <a href="#" class="main_news__main_link this--desktop icon_link">Смотреть все
                    <svg xmlns="http://www.w3.org/2000/svg" width="31" height="27" viewBox="0 0 31 27" fill="none">
                        <path d="M7.6067 25.7071C7.87393 26.1621 8.36055 26.4432 8.88817 26.4474L15.5 26.5L22.1118 26.4474C22.6395 26.4432 23.1261 26.1621 23.3933 25.7071L26.7452 20.0002L30.007 14.239C30.2666 13.7805 30.2666 13.2195 30.007 12.761L26.7452 6.99978L23.3933 1.29291C23.1261 0.837942 22.6395 0.556833 22.1118 0.552635L15.5 0.500017L8.88817 0.552633C8.36055 0.556831 7.87393 0.83794 7.60671 1.29291L4.25479 6.9998L0.992991 12.761C0.733406 13.2195 0.733406 13.7805 0.992991 14.239L4.2548 20.0002L7.6067 25.7071Z" stroke="#1D1D1D"/>
                        <path d="M10 12.9556L20.4992 13.2248M20.4992 13.2248L16.0124 8.73792M20.4992 13.2248L16.0514 17.6726" stroke="#1D1D1D"/>
                    </svg>
                </a>
            </div>
            <div class="main_news__slider_wr">
                <div class="main_news__slider_prev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="70" height="60" viewBox="0 0 70 60" fill="none">
                        <g clip-path="url(#clip0_336_6167)">
                            <path d="M54.8065 55.9983C53.3744 58.3979 50.7939 59.8763 47.9996 59.8982L35 60L22.0004 59.8982C19.2061 59.8763 16.6256 58.3979 15.1935 55.9983L8.62953 45L2.29508 33.9893C0.874201 31.5195 0.874209 28.4804 2.29508 26.0107L8.62953 15L15.1935 4.00168C16.6256 1.6021 19.2061 0.123695 22.0004 0.10181L35 -3.0598e-06L47.9996 0.101805C50.7939 0.12369 53.3744 1.60209 54.8065 4.00168L61.3705 15L67.7049 26.0107C69.1258 28.4804 69.1258 31.5196 67.7049 33.9893L61.3705 45L54.8065 55.9983Z" fill="#C7C7C7"/>
                            <path d="M46 30L24.0797 29.2929M24.0797 29.2929L33.5078 38.721M24.0797 29.2929L33.3028 20.0698" stroke="black"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_336_6167">
                                <rect width="70" height="60" fill="white" transform="translate(70 60) rotate(-180)"/>
                            </clipPath>
                        </defs>
                    </svg>
                </div>
                <div class="main_news__slider_next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="70" height="60" viewBox="0 0 70 60" fill="none">
                        <g clip-path="url(#clip0_336_4375)">
                            <path d="M15.1935 4.00168C16.6256 1.60209 19.2061 0.123693 22.0004 0.101808L35 0L47.9996 0.101808C50.7939 0.123693 53.3744 1.60209 54.8065 4.00168L61.3705 15L67.7049 26.0107C69.1258 28.4804 69.1258 31.5196 67.7049 33.9893L61.3705 45L54.8065 55.9983C53.3744 58.3979 50.7939 59.8763 47.9996 59.8982L35 60L22.0004 59.8982C19.2061 59.8763 16.6256 58.3979 15.1935 55.9983L8.62953 45L2.29508 33.9893C0.874203 31.5196 0.874203 28.4804 2.29508 26.0107L8.62953 15L15.1935 4.00168Z" fill="#FFB200"/>
                            <path d="M24 30L45.9203 30.7071M45.9203 30.7071L36.4922 21.279M45.9203 30.7071L36.6972 39.9302" stroke="black"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_336_4375">
                                <rect width="70" height="60" fill="white"/>
                            </clipPath>
                        </defs>
                    </svg>
                </div>
                <div class="main_news__slider swiper-container">
                    <div class="main_news__slider_wrapper swiper-wrapper">
                        <div class="main_news__slider_slide swiper-slide">
                            <a href="#" class="main_news__item news_card">
                                <div class="news_card__img">
                                    <img src="img/main_news/img_1.jpg" alt="">
                                    <div class="news_card__tag this--bitum">«Битум»</div>
                                </div>
                                <div class="news_card__date">13 Март’23</div>
                                <div class="news_card__text">Lorem ipsum dolor sit amet, consectetur </div>
                            </a>
                        </div>
                        <div class="main_news__slider_slide swiper-slide">
                            <a href="#" class="main_news__item news_card">
                                <div class="news_card__img">
                                    <img src="img/main_news/img_2.jpg" alt="">
                                    <div class="news_card__tag this--sbm">«СБМ»</div>
                                </div>
                                <div class="news_card__date">13 Март’23</div>
                                <div class="news_card__text">Lorem ipsum dolor sit amet, consectetur </div>
                            </a>
                        </div>
                        <div class="main_news__slider_slide swiper-slide">
                            <a href="#" class="main_news__item news_card">
                                <div class="news_card__img">
                                    <img src="img/main_news/img_3.jpg" alt="">
                                    <div class="news_card__tag this--salavat">«Cалаватметалл»</div>
                                </div>
                                <div class="news_card__date">13 Март’23</div>
                                <div class="news_card__text">Lorem ipsum dolor sit amet, consectetur </div>
                            </a>
                        </div>
                        <div class="main_news__slider_slide swiper-slide">
                            <a href="#" class="main_news__item news_card">
                                <div class="news_card__img">
                                    <img src="img/main_news/img_1.jpg" alt="">
                                    <div class="news_card__tag this--bitum">«Битум»</div>
                                </div>
                                <div class="news_card__date">13 Март’23</div>
                                <div class="news_card__text">Lorem ipsum dolor sit amet, consectetur </div>
                            </a>
                        </div>
                        <div class="main_news__slider_slide swiper-slide">
                            <a href="#" class="main_news__item news_card">
                                <div class="news_card__img">
                                    <img src="img/main_news/img_2.jpg" alt="">
                                    <div class="news_card__tag this--sbm">«СБМ»</div>
                                </div>
                                <div class="news_card__date">13 Март’23</div>
                                <div class="news_card__text">Lorem ipsum dolor sit amet, consectetur </div>
                            </a>
                        </div>
                        <div class="main_news__slider_slide swiper-slide">
                            <a href="#" class="main_news__item news_card">
                                <div class="news_card__img">
                                    <img src="img/main_news/img_3.jpg" alt="">
                                    <div class="news_card__tag this--salavat">«Cалаватметалл»</div>
                                </div>
                                <div class="news_card__date">13 Март’23</div>
                                <div class="news_card__text">Lorem ipsum dolor sit amet, consectetur </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="main_news__main_link btn this--mobile">Смотреть все</a>
        </div>
    </div>
</section>