<section class="main_salavat">
    <div class="container">
        <div class="main_salavat__content">
            <div class="main_salavat__body">
                <h2 class="main_salavat__title h2_title">«Салаватметалл»</h2>
                <div class="main_salavat__text">
                    специализируется на горячем оцинковании металлических изделий, используемых: в дорожном строительстве и других отраслях.
                </div>
                <a href="#" class="main_salavat__btn btn_arrow this--blue"><span class="btn_arrow__arrow this--hover"></span><span class="btn_arrow__text">Подробнее</span><span class="btn_arrow__arrow"></span></a>
            </div>
        </div>
    </div>
</section>