<section class="news_detail">
    <div class="container">
        <div class="news_detail__content">
            <div class="news_detail__breadcrumbs breadcrumbs">
                <a href="/" class="breadcrumbs__link this--home"></a>
                <span class="breadcrumbs__link this--disabled">статья</span>
            </div>
            <div class="news_detail__row">
                <div class="news_detail__left">
                    <div class="news_detail__date">Опубликовано: 23 апреля2023 г.</div>
                    <div class="news_detail__title">23 апреля в башкирской гимназии №25 г. Салавата был открыт зал греко-римской борьбы, созданный на средства компании «БИТУМ».</div>
                    <div class="news_detail__tag news_card__tag this--bitum">Битум</div>
                    <div class="news_detail__img this--mobile">
                        <img src="img/news_detail/news_detail_img.jpg" alt="">
                    </div>
                    <div class="news_detail__text">
                        <p>23 апреля в башкирской гимназии №25 г. Салавата был открыт зал греко-римской борьбы, созданный на средства компании «БИТУМ».
                            В 2019 г. Федерацией спортивной борьбы России при поддержке руководителя республики Радия Хабирова был инициирован проект «Спортивная борьба – в школы Башкортостана». В рамках этой программы залы для занятия греко-римской борьбой появились в школах многих муниципальных образований. Одной из таких школ стала гимназия №25 г. Салавата.</p>
                        <p>Новый объект отвечает всем современным требованиям для занятий спортивной борьбой. Зал оснащён двумя борцовскими коврами, стены обшиты матами, имеются тренировочные манекены и в целом весь необходимый инвентарь для тренировок. Помимо борьбы, ребята смогут заниматься гимнастикой и акробатикой. В день открытия мастер-класс для юных борцов из Салавата дал Олимпийский чемпион Алексей Мишин.
                            На церемонии открытия под своды нового зала были подняты флаги России, Башкортостана, а также компании «БИТУМ», воплотившей спортивный проект в жизнь.</p>
                    </div>
                </div>
                <div class="news_detail__right">
                    <div class="news_detail__img this--desktop">
                        <img src="img/news_detail/news_detail_img.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>