<section class="main_slider">
    <div class="main_slider__wrapper">
        <div class="main_slider__pagination"></div>
        <div class="main_slider__slider swiper-container js_main_slider">
            <div class="main_slider__slider_wrapper swiper-wrapper">
                <div class="main_slider__slider_slide swiper-slide">
                    <div class="main_slider__slide_video">
                        <video src="video/main_slider/video_1.mp4" muted autoplay loop></video>
                    </div>
                </div>
                <div class="main_slider__slider_slide swiper-slide">
                    <div class="main_slider__slide_video">
                        <video src="video/main_slider/video_2.mp4" muted autoplay loop></video>
                    </div>
                </div>
                <div class="main_slider__slider_slide swiper-slide">
                    <div class="main_slider__slide_video">
                        <video src="video/main_slider/video_3.mp4" muted autoplay loop></video>
                    </div>
                </div>
            </div>
        </div>
        <div class="main_slider__content">
            <h2 class="main_slider__title h2_title">Группа компаний</h2>
            <div class="main_slider__logos">
                <div class="main_slider__logo">
                    <img src="img/main_slider/logo_1.png" alt="">
                </div>
                <div class="main_slider__logo">
                    <img src="img/main_slider/logo_2.png" alt="">
                </div>
                <div class="main_slider__logo">
                    <img src="img/main_slider/logo_3.png" alt="">
                </div>
            </div>
            <button class="main_slider__arrow js_main_slider_arrow_btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
                    <path d="M24.2929 34.7071C24.6834 35.0976 25.3166 35.0976 25.7071 34.7071L32.0711 28.3431C32.4616 27.9526 32.4616 27.3195 32.0711 26.9289C31.6805 26.5384 31.0474 26.5384 30.6569 26.9289L25 32.5858L19.3431 26.9289C18.9526 26.5384 18.3195 26.5384 17.9289 26.9289C17.5384 27.3195 17.5384 27.9526 17.9289 28.3431L24.2929 34.7071ZM24 16L24 34L26 34L26 16L24 16Z" fill="white"/>
                    <rect x="0.5" y="0.5" width="49" height="49" rx="24.5" stroke="white" stroke-opacity="0.5"/>
                </svg>
            </button>
        </div>
    </div>
</section>