.main_factory__wrapper {
  border-radius: 30px 30px 0 0;
  background: radial-gradient(80.72% 80.44% at 60.61% 106.64%, #FFD880 0%, #FFB200 100%);
  box-shadow: 3px 6px 8px 0 rgba(0, 0, 0, 0.10);
  margin-top: -30px;
  position: sticky;
  height: 100vh;
  top: 0;
  overflow: hidden;

  @media ($tablet) {
    padding: 75px 0 0;
    border-radius: 15px 15px 0 0;
  }

  .container {
    height: 100%;
  }
}
.main_factory__content {
  display: flex;
  justify-content: space-between;
  height: 100%;

  @media ($tablet) {
    flex-direction: column;
  }
}
.main_factory__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 565px;
  margin-right: 60px;

  @media ($tablet) {
    max-width: none;
    margin-right: 0;
  }
}
.main_factory__text {
  margin-top: 26px;
  color: #1D1D1D;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;

  @media ($tablet3) {
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: normal;
  }
}
.main_factory__btn {
  margin-top: 45px;
  @media ($tablet3) {
    margin-top: 36px;
  }
}
.main_factory__right {
  margin-right: -100px;
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 825px;

  @media ($desktopSuperBig) {
    margin-right: 0;
    width: 50%;
    flex: 0 0 auto;
  }
  @media ($tablet) {
    width: 100%;
    max-width: 500px;
    margin: 36px auto 0;
    flex: 1 1 auto;
  }
}
.main_factory__img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  img {
    width: 100%;
  }
}