<section class="tender_page">
    <div class="container">
        <div class="tender__content">
            <div class="tender__breadcrumbs breadcrumbs this--center">
                <a href="/" class="breadcrumbs__link this--home"></a>
                <span class="breadcrumbs__link this--disabled">тендер</span>
            </div>
            <h1 class="h2_title tender__title">Тендер</h1>
            <div class="tender__subtitle">Уважаемые партнеры, группа компаний «БИТУМ» проводит закупки через
                ЭТП ТендерПро, предлагаем Вам рассмотреть возможность сотрудничества.</div>
            <div class="tender_table">
                <div class="tender_table__title">Актуальные конкурсы:</div>
                <div class="tender_table__search">
                    <input type="text" class="tender_table__search_input js_tender_search_input" placeholder="Поиск по таблице">
                    <button class="tender_table__search_clear jc_tender_search_clear"></button>
                </div>
                <div class="tender_table__table_wr">
                    <div class="tender_table__table trading-list"></div>
                </div>
            </div>
        </div>
    </div>
</section>