<section class="main_video" id="main_video">
    <div class="main_video__video">
        <img src="img/main_top/video_1.gif" alt="">
    </div>
    <div class="main_video__items">
        <div class="container">
            <div class="main_video__items_row">
                <div class="main_video__item">
                    <div class="main_video__item_img">
                        <img src="img/main_video/icon_1.svg" alt="">
                    </div>
                    <div class="main_video__item_text">Автоматизированная система управления производством.</div>
                </div>
                <div class="main_video__item">
                    <div class="main_video__item_img">
                        <img src="img/main_video/icon_2.svg" alt="">
                    </div>
                    <div class="main_video__item_text">Битумы по ГОСТ 22245-90, ГОСТ 33133-2014, ГОСТ Р 58400.1-2019.</div>
                </div>
                <div class="main_video__item">
                    <div class="main_video__item_img">
                        <img src="img/main_video/icon_3.svg" alt="">
                    </div>
                    <div class="main_video__item_text">Собственный лабораторно-аналитический комплекс, круглосуточно проводящий исследование готовой продукции.</div>
                </div>
            </div>
        </div>
    </div>
</section>