<section class="main_products">
    <div class="main_products__wrapper">
        <div class="main_products__slider_pagination"></div>
        <div class="container">
            <div class="main_products__content">
                <div class="main_products__left">
                    <h2 class="main_products__title this--mobile">Продукция</h2>
                    <div class="main_products__img_slider star_slider swiper_container">
                        <div class="star_slider__wrapper swiper-wrapper">
                            <div class="star_slider__slide main_products__img_slide swiper-slide">
                                <div class="star_slider__img">
                                    <img src="img/main_products/img_1.jpg" alt="">
                                </div>
                            </div>
                            <div class="star_slider__slide main_products__img_slide swiper-slide">
                                <div class="star_slider__img">
                                    <img src="img/main_products/img_2.jpg" alt="">
                                </div>
                            </div>
                            <div class="star_slider__slide main_products__img_slide swiper-slide">
                                <div class="star_slider__img">
                                    <img src="img/main_products/img_3.jpg" alt="">
                                </div>
                            </div>
                            <div class="star_slider__slide main_products__img_slide swiper-slide">
                                <div class="star_slider__img">
                                    <img src="img/main_products/img_4.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main_products__right">
                    <h2 class="main_products__title this--desktop">Продукция</h2>
                    <div class="main_products__accordions">
                        <div class="main_products__accordion js_product_accordion" data-accordion="0">
                            <div class="main_products__accordion_head js_product_accordion_head">
                                Материалы вяжущие нефтяные битумные
                                <svg width="31" height="28" viewBox="0 0 31 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_417_4098)">
                                        <path d="M7.6067 26.2071C7.87393 26.6621 8.36055 26.9432 8.88817 26.9474L15.5 27L22.1118 26.9474C22.6395 26.9432 23.1261 26.6621 23.3933 26.2071L26.7452 20.5002L30.007 14.739C30.2666 14.2805 30.2666 13.7195 30.007 13.261L26.7452 7.49978L23.3933 1.79291C23.1261 1.33794 22.6395 1.05683 22.1118 1.05264L15.5 1.00002L8.88817 1.05263C8.36055 1.05683 7.87393 1.33794 7.60671 1.79291L4.25479 7.4998L0.992991 13.261C0.733406 13.7195 0.733406 14.2805 0.992991 14.739L4.2548 20.5002L7.6067 26.2071Z" stroke="#1D1D1D"/>
                                        <path d="M10 13.4556L20.4992 13.7248M20.4992 13.7248L16.0124 9.23792M20.4992 13.7248L16.0514 18.1726" stroke="#1D1D1D"/>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_417_4098">
                                            <rect width="31" height="27" fill="white" transform="translate(0 0.5)"/>
                                        </clipPath>
                                    </defs>
                                </svg>
                            </div>
                            <div class="main_products__accordion_body">
                                <ul class="main_products__accordion_list this--two_columns">
                                    <li><a href="#">PG58-22 ГОСТ Р 58400.1-2019</a></li>
                                    <li><a href="#">PG58-22 ГОСТ Р 58400.1-2019</a></li>
                                    <li><a href="#">PG58-22 ГОСТ Р 58400.1-2019</a></li>
                                    <li><a href="#">PG58-22 ГОСТ Р 58400.1-2019</a></li>
                                    <li><a href="#">PG58-22 ГОСТ Р 58400.1-2019</a></li>
                                    <li><a href="#">PG58-22 ГОСТ Р 58400.1-2019</a></li>
                                    <li><a href="#">PG58-22 ГОСТ Р 58400.1-2019</a></li>
                                    <li><a href="#">PG58-22 ГОСТ Р 58400.1-2019</a></li>
                                    <li><a href="#">PG58-22 ГОСТ Р 58400.1-2019</a></li>
                                    <li><a href="#">PG58-22 ГОСТ Р 58400.1-2019</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="main_products__accordion js_product_accordion" data-accordion="1">
                            <div class="main_products__accordion_head js_product_accordion_head">
                                Полимерно-битумные вяжущие
                                <svg width="31" height="28" viewBox="0 0 31 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_417_4098)">
                                        <path d="M7.6067 26.2071C7.87393 26.6621 8.36055 26.9432 8.88817 26.9474L15.5 27L22.1118 26.9474C22.6395 26.9432 23.1261 26.6621 23.3933 26.2071L26.7452 20.5002L30.007 14.739C30.2666 14.2805 30.2666 13.7195 30.007 13.261L26.7452 7.49978L23.3933 1.79291C23.1261 1.33794 22.6395 1.05683 22.1118 1.05264L15.5 1.00002L8.88817 1.05263C8.36055 1.05683 7.87393 1.33794 7.60671 1.79291L4.25479 7.4998L0.992991 13.261C0.733406 13.7195 0.733406 14.2805 0.992991 14.739L4.2548 20.5002L7.6067 26.2071Z" stroke="#1D1D1D"/>
                                        <path d="M10 13.4556L20.4992 13.7248M20.4992 13.7248L16.0124 9.23792M20.4992 13.7248L16.0514 18.1726" stroke="#1D1D1D"/>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_417_4098">
                                            <rect width="31" height="27" fill="white" transform="translate(0 0.5)"/>
                                        </clipPath>
                                    </defs>
                                </svg>
                            </div>
                            <div class="main_products__accordion_body">
                                <ul class="main_products__accordion_list">
                                    <li><a href="#">ПБВ 60 ГОСТ Р 52056-2003</a></li>
                                    <li><a href="#">ПБВ 90 ГОСТ Р 52056-2003</a></li>
                                    <li><a href="#">ПБВ 130 ГОСТ Р 52056-2003</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="main_products__accordion js_product_accordion" data-accordion="2">
                            <div class="main_products__accordion_head js_product_accordion_head">
                                Битум нефтяной дорожный вязкий по ГОСТ 33133-2014
                                <svg width="31" height="28" viewBox="0 0 31 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_417_4098)">
                                        <path d="M7.6067 26.2071C7.87393 26.6621 8.36055 26.9432 8.88817 26.9474L15.5 27L22.1118 26.9474C22.6395 26.9432 23.1261 26.6621 23.3933 26.2071L26.7452 20.5002L30.007 14.739C30.2666 14.2805 30.2666 13.7195 30.007 13.261L26.7452 7.49978L23.3933 1.79291C23.1261 1.33794 22.6395 1.05683 22.1118 1.05264L15.5 1.00002L8.88817 1.05263C8.36055 1.05683 7.87393 1.33794 7.60671 1.79291L4.25479 7.4998L0.992991 13.261C0.733406 13.7195 0.733406 14.2805 0.992991 14.739L4.2548 20.5002L7.6067 26.2071Z" stroke="#1D1D1D"/>
                                        <path d="M10 13.4556L20.4992 13.7248M20.4992 13.7248L16.0124 9.23792M20.4992 13.7248L16.0514 18.1726" stroke="#1D1D1D"/>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_417_4098">
                                            <rect width="31" height="27" fill="white" transform="translate(0 0.5)"/>
                                        </clipPath>
                                    </defs>
                                </svg>
                            </div>
                            <div class="main_products__accordion_body">
                                <ul class="main_products__accordion_list">
                                    <li><a href="#">БНД 50/70 ГОСТ 33133-2014</a></li>
                                    <li><a href="#">БНД 70/100 ГОСТ 33133-2014</a></li>
                                    <li><a href="#">БНД 100/130 ГОСТ 33133-2014</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="main_products__accordion js_product_accordion" data-accordion="3">
                            <div class="main_products__accordion_head js_product_accordion_head">
                                Битумы нефтяные дорожные вязкие по ГОСТ 22245-90 изм.1
                                <svg width="31" height="28" viewBox="0 0 31 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_417_4098)">
                                        <path d="M7.6067 26.2071C7.87393 26.6621 8.36055 26.9432 8.88817 26.9474L15.5 27L22.1118 26.9474C22.6395 26.9432 23.1261 26.6621 23.3933 26.2071L26.7452 20.5002L30.007 14.739C30.2666 14.2805 30.2666 13.7195 30.007 13.261L26.7452 7.49978L23.3933 1.79291C23.1261 1.33794 22.6395 1.05683 22.1118 1.05264L15.5 1.00002L8.88817 1.05263C8.36055 1.05683 7.87393 1.33794 7.60671 1.79291L4.25479 7.4998L0.992991 13.261C0.733406 13.7195 0.733406 14.2805 0.992991 14.739L4.2548 20.5002L7.6067 26.2071Z" stroke="#1D1D1D"/>
                                        <path d="M10 13.4556L20.4992 13.7248M20.4992 13.7248L16.0124 9.23792M20.4992 13.7248L16.0514 18.1726" stroke="#1D1D1D"/>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_417_4098">
                                            <rect width="31" height="27" fill="white" transform="translate(0 0.5)"/>
                                        </clipPath>
                                    </defs>
                                </svg>
                            </div>
                            <div class="main_products__accordion_body">
                                <ul class="main_products__accordion_list">
                                    <li><a href="#">ПБВ 60/90 ГОСТ 22245-90 изм.1</a></li>
                                    <li><a href="#">ПБВ 90/130 ГОСТ 22245-90 изм.1</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="main_products__btn btn_arrow"><span class="btn_arrow__arrow this--hover"></span><span class="btn_arrow__text">Подробнее</span><span class="btn_arrow__arrow"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>