<section class="vacancies_top">
    <div class="container">
        <div class="about_chess__content">
            <div class="about_chess__left">
                <div class="vacancies_top__breadcrumbs breadcrumbs">
                    <a href="/" class="breadcrumbs__link this--home"></a>
                    <span class="breadcrumbs__link this--disabled">вакансии</span>
                </div>
                <div class="vacancies_top__title h1_title">Вакансии в наших
                    компаниях</div>
                <div class="vacancies_top__text">
                    «СБМ»<span></span>«Битум»<span></span>«Cалаватметалл»
                </div>
            </div>
            <div class="about_chess__right">
                <div class="about_chess__img">
                    <img src="img/about_chess/img_4.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>