<section class="main_about">
    <div class="main_about__wrapper">
        <div class="main_about__text_slider_pagination"></div>
        <div class="container">
            <div class="main_about__content">
                <div class="main_about__left">
                    <h2 class="main_about__title h2_title">О компании</h2>
                    <div class="main_about__text_slider swiper-container">
                        <div class="main_about__text_slider_wrapper swiper-wrapper">
                            <div class="main_about__text_slider_slide swiper-slide">
                                <div class="main_about__text_slider_mob_num"></div>
                                <div class="main_about__text_slider_text">Завод «БИТУМ» был основан 16 августа 1991 года на базе подсобного хозрасчетного участка ремонтно-строительного управления дорог города Салавата, который работал с мая 1980 года.</div>
                            </div>
                            <div class="main_about__text_slider_slide swiper-slide">
                                <div class="main_about__text_slider_mob_num"></div>
                                <div class="main_about__text_slider_text">Компания специализируется на производстве битума и полимерно-битумных вяжущих (ПБВ) путем окисления мазута. С 2018 года после глубокой модернизации и расширения производства изготавливает высококачественные ПБВ для объемного проектирования асфальтобетонных смесей (ГОСТ 58400.1 – 2019).</div>
                            </div>
                            <div class="main_about__text_slider_slide swiper-slide">
                                <div class="main_about__text_slider_mob_num"></div>
                                <div class="main_about__text_slider_text">Общая мощность производства - 360 тысяч тонн вяжущих в год. Производство работает круглогодично, отгрузка готовой продукции производится автомобильным и железнодорожным транспортом по графику 24/7.</div>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="main_about__btn btn_arrow"><span class="btn_arrow__arrow this--hover"></span><span class="btn_arrow__text">Подробнее</span><span class="btn_arrow__arrow"></span></a>
                </div>
                <div class="main_about__right">
                    <div class="main_about__img_slider star_slider swiper_container">
                        <div class="main_about__star_bg this--1"></div>
                        <div class="main_about__star_bg this--2"></div>
                        <div class="star_slider__wrapper swiper-wrapper">
                            <div class="star_slider__slide swiper-slide">
                                <div class="star_slider__img">
                                    <img src="img/main_about/img_1.jpg" alt="">
                                </div>
                            </div>
                            <div class="star_slider__slide swiper-slide">
                                <div class="star_slider__img">
                                    <img src="img/main_about/img_2.jpg" alt="">
                                </div>
                            </div>
                            <div class="star_slider__slide swiper-slide">
                                <div class="star_slider__img">
                                    <img src="img/main_about/img_3.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>