<section class="team_top">
    <div class="container">
        <div class="team_top__content">
            <div class="team_top__company_links company_links">
                <a href="#" class="company_link active">«Битум»</a>
                <a href="#" class="company_link">«СБМ»</a>
                <a href="#" class="company_link">«Cалаватметалл»</a>
            </div>
            <div class="team_top__breadcrumbs breadcrumbs this--center">
                <a href="/" class="breadcrumbs__link this--home"></a>
                <a href="/" class="breadcrumbs__link">команда</a>
                <span class="breadcrumbs__link this--disabled">Битум</span>
            </div>
            <h1 class="h1_title team_top__title">Наша команда</h1>
            <div class="team_top__items">
                <div class="team_top__item">
                    <div class="team_top__item_img">
                        <img src="img/team/img.jpg" alt="">
                        <div class="team_top__item_tag">«Битум»</div>
                    </div>
                    <div class="team_top__item_name">Донцов Дмитрий Юрьевич</div>
                    <div class="team_top__item_job_title">Управляющий ООО «БИТУМ</div>
                </div>
                <div class="team_top__item">
                    <div class="team_top__item_img">
                        <img src="img/team/img.jpg" alt="">
                        <div class="team_top__item_tag">«Битум»</div>
                    </div>
                    <div class="team_top__item_name">Донцов Дмитрий Юрьевич</div>
                    <div class="team_top__item_job_title">Управляющий ООО «БИТУМ</div>
                </div>
                <div class="team_top__item">
                    <div class="team_top__item_img">
                        <img src="img/team/img.jpg" alt="">
                        <div class="team_top__item_tag">«Битум»</div>
                    </div>
                    <div class="team_top__item_name">Донцов Дмитрий Юрьевич</div>
                    <div class="team_top__item_job_title">Управляющий ООО «БИТУМ</div>
                </div>
                <div class="team_top__item">
                    <div class="team_top__item_img">
                        <img src="img/team/img.jpg" alt="">
                        <div class="team_top__item_tag">«Битум»</div>
                    </div>
                    <div class="team_top__item_name">Донцов Дмитрий Юрьевич</div>
                    <div class="team_top__item_job_title">Управляющий ООО «БИТУМ</div>
                </div>
                <div class="team_top__item">
                    <div class="team_top__item_img">
                        <img src="img/team/img.jpg" alt="">
                        <div class="team_top__item_tag">«Битум»</div>
                    </div>
                    <div class="team_top__item_name">Донцов Дмитрий Юрьевич</div>
                    <div class="team_top__item_job_title">Управляющий ООО «БИТУМ</div>
                </div>
                <div class="team_top__item">
                    <div class="team_top__item_img">
                        <img src="img/team/img.jpg" alt="">
                        <div class="team_top__item_tag">«Битум»</div>
                    </div>
                    <div class="team_top__item_name">Донцов Дмитрий Юрьевич</div>
                    <div class="team_top__item_job_title">Управляющий ООО «БИТУМ</div>
                </div>
                <div class="team_top__item">
                    <div class="team_top__item_img">
                        <img src="img/team/img.jpg" alt="">
                        <div class="team_top__item_tag">«Битум»</div>
                    </div>
                    <div class="team_top__item_name">Донцов Дмитрий Юрьевич</div>
                    <div class="team_top__item_job_title">Управляющий ООО «БИТУМ</div>
                </div>
                <div class="team_top__item">
                    <div class="team_top__item_img">
                        <img src="img/team/img.jpg" alt="">
                        <div class="team_top__item_tag">«Битум»</div>
                    </div>
                    <div class="team_top__item_name">Донцов Дмитрий Юрьевич</div>
                    <div class="team_top__item_job_title">Управляющий ООО «БИТУМ</div>
                </div>
                <div class="team_top__item">
                    <div class="team_top__item_img">
                        <img src="img/team/img.jpg" alt="">
                        <div class="team_top__item_tag">«Битум»</div>
                    </div>
                    <div class="team_top__item_name">Донцов Дмитрий Юрьевич</div>
                    <div class="team_top__item_job_title">Управляющий ООО «БИТУМ</div>
                </div>
            </div>
        </div>
    </div>
</section>