<section class="main_top">
    <div class="container">
        <div class="main_top__content">
            <div class="main_top__left">
                <div class="main_top__left_body">
                    <div class="main_top__dates">
                        1991
                        <span></span>
                        2023
                    </div>
                    <h1 class="main_top__title h1_title">Группа компаний «БИТУМ»</h1>
                    <div class="main_top__text">это промышленный холдинг, включающий в себя, помимо завода по производству нефтяных дорожных вяжущих, предприятие по горячему оцинкованию металлических изделий «Салаватметалл» и производственное объединение «Современные битумные материалы». Группа компаний «БИТУМ» выпускает широкую номенклатуру высококачественной продукции для дорожного строительства и благоустройства дорожной инфраструктуры.</div>
                </div>
            </div>
            <div class="main_top__right">
                <div class="main_top__right_body">
                    <svg width="618" height="725" viewBox="0 0 618 725" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M308.002 3.55339C308.8 2.17505 310.267 1.32125 311.86 1.3084L411.996 0.499984H412.004L512.14 1.30839C513.733 1.32125 515.2 2.17504 515.998 3.55339L566.772 91.2437L566.776 91.2505L616.203 179.807C616.964 181.17 616.964 182.83 616.203 184.193L566.776 272.749L566.772 272.756L515.998 360.447C515.2 361.825 513.733 362.679 512.14 362.692L412.004 363.5H411.996L311.86 362.692C310.267 362.679 308.8 361.825 308.002 360.447L257.228 272.756L257.224 272.749L207.797 184.193C207.036 182.83 207.036 181.17 207.797 179.807L257.224 91.2505L257.228 91.2437L308.002 3.55339Z" stroke="#1D1D1D"/>
                        <path d="M51.2613 451.976L103.358 361.974L206.133 361.144H206.141L308.916 361.974L361.013 451.976L361.017 451.983L411.701 542.822L361.017 633.66L361.013 633.667L308.916 723.67L206.141 724.5H206.133L103.358 723.67L51.2613 633.667L51.2574 633.66L0.572564 542.822L51.2574 451.983L51.2613 451.976Z" stroke="#1D1D1D"/>
                    </svg>
                    <a href="#" class="main_top__link this--1">
                        <div class="main_top__link_top">СБМ</div>
                        <div class="main_top__link_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut </div>
                        <div class="main_top__link_bottom"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="26" viewBox="0 0 30 26" fill="none">
                            <path d="M1 11.9678L28.5772 12.6749M28.5772 12.6749L18 1.03272M28.5772 12.6749L16.8945 24.3575" stroke="#1D1D1D" stroke-width="2"/>
                        </svg></div>
                        <span class="main_top__link_bg"></span>
                        <span class="main_top__link_anim"></span>
                        <span class="main_top__link_video"></span>
                    </a>
                    <a href="#" class="main_top__link this--2">
                        <div class="main_top__link_top">Салаватметалл</div>
                        <div class="main_top__link_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut </div>
                        <div class="main_top__link_bottom"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="26" viewBox="0 0 30 26" fill="none">
                            <path d="M1 11.9678L28.5772 12.6749M28.5772 12.6749L18 1.03272M28.5772 12.6749L16.8945 24.3575" stroke="#1D1D1D" stroke-width="2"/>
                        </svg></div>
                        <span class="main_top__link_bg"></span>
                        <span class="main_top__link_anim"></span>
                        <span class="main_top__link_video"></span>
                    </a>
                </div>
            </div>
            <button class="main_top__arrow js_main_top_arrow_btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
                    <path d="M24.2929 34.7071C24.6834 35.0976 25.3166 35.0976 25.7071 34.7071L32.0711 28.3431C32.4616 27.9526 32.4616 27.3195 32.0711 26.9289C31.6805 26.5384 31.0474 26.5384 30.6569 26.9289L25 32.5858L19.3431 26.9289C18.9526 26.5384 18.3195 26.5384 17.9289 26.9289C17.5384 27.3195 17.5384 27.9526 17.9289 28.3431L24.2929 34.7071ZM24 16L24 34L26 34L26 16L24 16Z" fill="#1D1D1D"/>
                </svg>
            </button>
        </div>
    </div>
</section>