<section class="vacancies_detail_top">
    <div class="container">
        <div class="vacancies_detail_top__content">
            <div class="vacancies_detail_top__left">
                <div class="vacancies_detail__breadcrumbs breadcrumbs">
                    <a href="/" class="breadcrumbs__link this--home"></a>
                    <a href="/" class="breadcrumbs__link">вакансии</a>
                    <span class="breadcrumbs__link this--disabled">лаборант химического анализа</span>
                </div>
                <div class="vacancies_detail_top__date">Опубликовано: 13 марта 2023 г.</div>
                <div class="vacancies_detail_top__title">Лаборант химического анализа, 5 разряда</div>
                <div class="vacancies_detail_top__items">
                    <div class="vacancies_detail_top__item this--point">Салават</div>
                    <div class="vacancies_detail_top__item this--paid">от 35 000 р</div>
                </div>
            </div>
            <div class="vacancies_detail_top__right">
                <div class="vacancies_detail_top__img">
                    <img src="img/vacancies_detail/top_img.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>