<section class="news">
    <div class="container">
        <div class="news__content">
            <div class="news__company_links company_links">
                <a href="#" class="company_link active">Все</a>
                <a href="#" class="company_link">«Битум»</a>
                <a href="#" class="company_link">«СБМ»</a>
                <a href="#" class="company_link">«Cалаватметалл»</a>
            </div>
            <div class="news__breadcrumbs breadcrumbs this--center">
                <a href="/" class="breadcrumbs__link this--home"></a>
                <span class="breadcrumbs__link this--disabled">новости</span>
            </div>
            <h1 class="h1_title news__title">Новости</h1>
            <div class="news__items">
                <a href="#" class="news__item news_card">
                    <div class="news_card__img">
                        <img src="img/main_news/img_1.jpg" alt="">
                        <div class="news_card__tag this--bitum">«Битум»</div>
                    </div>
                    <div class="news_card__date">13 Март’23</div>
                    <div class="news_card__text">Lorem ipsum dolor sit amet, consectetur </div>
                </a>
                <a href="#" class="news__item news_card">
                    <div class="news_card__img">
                        <img src="img/main_news/img_2.jpg" alt="">
                        <div class="news_card__tag this--sbm">«СБМ»</div>
                    </div>
                    <div class="news_card__date">13 Март’23</div>
                    <div class="news_card__text">Lorem ipsum dolor sit amet, consectetur </div>
                </a>
                <a href="#" class="news__item news_card">
                    <div class="news_card__img">
                        <img src="img/main_news/img_3.jpg" alt="">
                        <div class="news_card__tag this--salavat">«Cалаватметалл»</div>
                    </div>
                    <div class="news_card__date">13 Март’23</div>
                    <div class="news_card__text">Lorem ipsum dolor sit amet, consectetur </div>
                </a>
                <a href="#" class="news__item news_card">
                    <div class="news_card__img">
                        <img src="img/main_news/img_1.jpg" alt="">
                        <div class="news_card__tag this--bitum">«Битум»</div>
                    </div>
                    <div class="news_card__date">13 Март’23</div>
                    <div class="news_card__text">Lorem ipsum dolor sit amet, consectetur </div>
                </a>
                <a href="#" class="news__item news_card">
                    <div class="news_card__img">
                        <img src="img/main_news/img_2.jpg" alt="">
                        <div class="news_card__tag this--sbm">«СБМ»</div>
                    </div>
                    <div class="news_card__date">13 Март’23</div>
                    <div class="news_card__text">Lorem ipsum dolor sit amet, consectetur </div>
                </a>
                <a href="#" class="news__item news_card">
                    <div class="news_card__img">
                        <img src="img/main_news/img_3.jpg" alt="">
                        <div class="news_card__tag this--salavat">«Cалаватметалл»</div>
                    </div>
                    <div class="news_card__date">13 Март’23</div>
                    <div class="news_card__text">Lorem ipsum dolor sit amet, consectetur </div>
                </a>
                <a href="#" class="news__item news_card">
                    <div class="news_card__img">
                        <img src="img/main_news/img_1.jpg" alt="">
                        <div class="news_card__tag this--bitum">«Битум»</div>
                    </div>
                    <div class="news_card__date">13 Март’23</div>
                    <div class="news_card__text">Lorem ipsum dolor sit amet, consectetur </div>
                </a>
                <a href="#" class="news__item news_card">
                    <div class="news_card__img">
                        <img src="img/main_news/img_2.jpg" alt="">
                        <div class="news_card__tag this--sbm">«СБМ»</div>
                    </div>
                    <div class="news_card__date">13 Март’23</div>
                    <div class="news_card__text">Lorem ipsum dolor sit amet, consectetur </div>
                </a>
                <a href="#" class="news__item news_card">
                    <div class="news_card__img">
                        <img src="img/main_news/img_3.jpg" alt="">
                        <div class="news_card__tag this--salavat">«Cалаватметалл»</div>
                    </div>
                    <div class="news_card__date">13 Март’23</div>
                    <div class="news_card__text">Lorem ipsum dolor sit amet, consectetur </div>
                </a>
            </div>
            <div class="news__pagination">
                <a href="#" class="news__pagination_link active">1</a>
                <a href="#" class="news__pagination_link">2</a>
                <a href="#" class="news__pagination_link">3</a>
                <a href="#" class="news__pagination_link">4</a>
            </div>
        </div>
    </div>
</section>