<section class="contacts_top">
    <div class="container">
        <div class="contacts_top__content">
            <div class="contacts_top__breadcrumbs breadcrumbs">
                <a href="/" class="breadcrumbs__link this--home"></a>
                <span class="breadcrumbs__link this--disabled">контакты</span>
            </div>
            <h1 class="h2_title contacts_top__title">Контакты</h1>
            <div class="contacts_top__row">
                <div class="contacts_top__left">
                    <div class="contacts_top__block this--bitum">
                        <div class="contacts_top__logo">
                            <img src="img/contacts/logo_1.png" alt="">
                        </div>
                        <div class="contacts_top__block_items">
                            <div class="contacts_top__block_item this--address">
                                453256, РБ, г. Салават, ул. Молодогвардейцев, 60, стр. 1
                            </div>
                            <a href="mailto:mail@sbitum.ru" class="contacts_top__block_item this--mail">
                                Почта<br>
                                mail@sbitum.ru
                            </a>
                            <a href="tel:+78002346460" class="contacts_top__block_item this--tel">
                                Телефон<br>
                                8-800-234-64-60
                            </a>
                            <a href="#" class="contacts_top__block_item this--vk">
                                Вконтакте
                            </a>
                            <a href="#" class="contacts_top__block_item this--tg">
                                Телеграмм
                            </a>
                        </div>
                    </div>
                </div>
                <div class="contacts_top__right">
                    <div class="contacts_top__block this--sbm">
                        <div class="contacts_top__logo">
                            <img src="img/contacts/logo_2.png" alt="">
                        </div>
                        <div class="contacts_top__block_items">
                            <div class="contacts_top__block_item this--address">
                                453256, РБ, г. Салават, ул. Молодогвардейцев, 60, стр. 1
                            </div>
                            <a href="mailto:mail@sbitum.ru" class="contacts_top__block_item this--mail">
                                Почта<br>
                                mail@sbitum.ru
                            </a>
                            <a href="tel:+78002346460" class="contacts_top__block_item this--tel">
                                Телефон<br>
                                8-800-234-64-60
                            </a>
                            <a href="#" class="contacts_top__block_item this--vk">
                                Вконтакте
                            </a>
                        </div>
                    </div>
                    <div class="contacts_top__block this--salavat">
                        <div class="contacts_top__logo">
                            <img src="img/contacts/logo_3.png" alt="">
                        </div>
                        <div class="contacts_top__block_items">
                            <div class="contacts_top__block_item this--address">
                                453256, Республика Башкортостан,
                                г. Салават, ул. Молодогвардейцев
                                60,стр.33
                            </div>
                            <a href="mailto:mail@sbitum.ru" class="contacts_top__block_item this--mail">
                                Почта<br>
                                mail@sbitum.ru
                            </a>
                            <a href="tel:+78002346460" class="contacts_top__block_item this--tel">
                                Бесплатный федеральный номер<br>
                                +7 (800) 234-64-60<br>
                                Бесплатный федеральный номер<br>
                                +7 (3476) 32-97-02
                            </a>
                            <a href="#" class="contacts_top__block_item this--vk">
                                Вконтакте
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contacts_map">
    <div class="js_contacts_map contacts_map__map" id="map"></div>
    <div class="container">
        <div class="contacts_map__content">
            <div class="contacts_map__items">
                <div class="contacts_map__item">
                    <img src="img/contacts/map_1.png" alt="">
                </div>
                <div class="contacts_map__item">
                    <img src="img/contacts/map_2.png" alt="">
                </div>
                <div class="contacts_map__item">
                    <img src="img/contacts/map_3.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>