<section class="team_chess">
    <div class="container">
        <div class="about_chess__content">
            <div class="about_chess__left">
                <div class="about_chess__icon">
                    <img src="img/about_chess/icon_4.svg" alt="">
                </div>
                <div class="about_chess__title">Ждём вас<br>
                    в нашей команде</div>
                <div class="about_chess__text">
                    <p>На предприятиях группы компаний «БИТУМ» работают несколько сотен профессионалов, уверенных в завтрашнем дне. Предлагаем официальное трудоустройство и полный социальный пакет. </p>
                </div>
                <a href="#" class="about_chess__btn btn_arrow this--top"><span class="btn_arrow__arrow this--hover"></span><span class="btn_arrow__text">Подробнее</span><span class="btn_arrow__arrow"></span></a>
            </div>
            <div class="about_chess__right">
                <div class="about_chess__img">
                    <img src="img/about_chess/img_4.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>